@model IEnumerable<LocalAccountsApp.Models.StudentGradeViewModel>

@{
    ViewBag.Title = "GetStudentById";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetStudentById</h2>

<div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.CourseID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.Title)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Student.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Student.LastName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Course.CourseID)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Course.Title)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.StudentID, courseId = item.CourseID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.StudentID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.StudentID })
                </td>
            </tr>
        }

    </table>
</div>
